@{
  ViewData["Title"] = "Library Dashboard";
  ViewData["PageName"] = "intel_marketing_dashboard";
  ViewData["Category1"] = "Application";
  ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Library <span class='fw-300'>Dashboard</span>";
}
@section HeadBlock {
  <link href="~/Content/css/formplugins/ion-rangeslider/ion-rangeslider.css" rel="stylesheet" />
  <link rel="stylesheet" media="screen, print" href="~/Content/css/datagrid/datatables/datatables.bundle.css">
  <link rel="stylesheet" media="screen, print" href="~/Content/css/notifications/sweetalert2/sweetalert2.bundle.css">

  <style>
    .custom-tooltip {
      width: 100% !important;
      height: 10% !important;
      position: absolute;
      top: 0px;
      left: 0px
    }

    .custom-tooltip-item {
      width: 150px;
      height: 50px;
      position: relative;
      float: left;
      margin-left: 20px;
      border-left-style: solid;
      border-left-width: 5px
    }

      .custom-tooltip-item:first-child {
        margin-left: 0
      }

    .custom-tooltip-item-name {
      width: 80%;
      height: 20px;
      position: absolute;
      top: 0px;
      left: 10px;
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px
    }

    .custom-tooltip-item-value {
      width: 80%;
      height: 30px;
      position: absolute;
      bottom: 0px;
      left: 10px;
      color: #262626;
      font-size: 22px;
      /*font-weight: bold*/
    }
  </style>
}
@section SubheaderBlock {

}
<div class="row">
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          21.5k
          <small class="m-0 l-h-n">users signed up</small>
        </h3>
      </div>
      <i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-info-400 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          1,203
          <small class="m-0 l-h-n">books in sotck</small>
        </h3>
      </div>
      <i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4" style="font-size: 6rem;"></i>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          18
          <small class="m-0 l-h-n">out of stock</small>
        </h3>
      </div>
      <i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6" style="font-size: 8rem;"></i>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="p-3 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
      <div class="">
        <h3 class="display-4 d-block l-h-n m-0 fw-500">
          +36%
          <small class="m-0 l-h-n">usage rate</small>
        </h3>
      </div>
      <i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4" style="font-size: 6rem;"></i>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-lg-12">
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          Book turnover rate
        </h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content bg-subtlelight-fade">
          <div id="flot-toggles" class="w-100 mt-4" style="height: 300px"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div id="panel-4" class="panel">
      <div class="panel-hdr">
        <h2>
          Over time <span class="fw-300"><i>Records</i></span>
        </h2>
      </div>
      <div class="panel-container show">
        <div class="panel-content">
          <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
            <thead class="bg-warning-200">
              <tr>
                <th>Global Id</th>
                <th>Display Name</th>
                <th>Book Name</th>
                <th>Borrow Date</th>
                <th>Remaining days </th>
                <th>Controls</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in ViewBag.Records)
              {
                <tr>
                  <td>@item.GlobalId</td>
                  <td>@item.DisplayName</td>
                  <td>@item.Title</td>
                  <td>@item.BorrowDate.ToString("MMMM,dd")</td>
                  <td>@item.Days</td>
                  <td><button type="button" class="btn btn-sm btn-info waves-effect waves-themed">send notification</button></td>

                </tr>
              }




          </table>
          <!-- datatable end -->
        </div>
      </div>
    </div>
  </div>
</div>

@section ScriptsBlock {
  <script type="text/javascript" src="https://unpkg.com/@("@antv")/g2plot@latest/dist/g2plot.min.js"></script>
  <script type="text/javascript">
    /* Activate smart panels */
    $('#js-page-content').smartPanel();
  </script>


  <script type="module">
    import { CountUp } from '/Scripts/plugin/countup/countUp.min.js';
    $(async () => {
      new CountUp('p1', 100).start();
      new CountUp('p2', 100).start();
      new CountUp('p3', 100).start();
      new CountUp('p4', 100).start();

    })

    const data = [
      { time: '2020-03', value: 350, count: 800 },
      { time: '2020-04', value: 900, count: 600 },
      { time: '2020-05', value: 300, count: 400 },
      { time: '2020-06', value: 450, count: 380 },
      { time: '2020-07', value: 470, count: 220 },
    ];
    const { DualAxes } = G2Plot;
    const dualAxes = new DualAxes('flot-toggles', {
      data: [data, data],
      xField: 'time',
      yField: ['value', 'count'],
      geometryOptions: [
        {
          geometry: 'column',
        },
        {
          geometry: 'line',
          lineStyle: {
            lineWidth: 2,
          },
        },
      ],
    });

    dualAxes.render();


  </script>


}
