﻿@model WebApp.Models.BookPicture
  <div class="form-row">
   @Html.HiddenFor(x=>x.Id)
      
       <!--Book-->
       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <label class="form-label"> <span class="text-danger">*</span> @Html.DisplayNameFor(model => model.BookId)</label>
   	        @Html.DropDownListFor(model => model.BookId, ViewBag.BookId as List<SelectListItem>, htmlAttributes: new { @class = "form-control" }) 
       </div>

        <!--Picture-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <label class="form-label">  @Html.DisplayNameFor(model => model.Picture)</label>
			@Html.EditorFor(x => x.Picture, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Picture) } })
      
         </div>

        <!--Url-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <label class="form-label">  @Html.DisplayNameFor(model => model.Url)</label>
			@Html.EditorFor(x => x.Url, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Url) } })
      
         </div>

        <!--Description-->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <label class="form-label">  @Html.DisplayNameFor(model => model.Description)</label>
			@Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Description) } })
      
         </div>

	    
</div>

