﻿@model WebApp.Models.Favorite
  <div class="form-row">
   @Html.HiddenFor(x=>x.Id)
 		<!--Global Id-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.GlobalId)</label>
            @Html.EditorFor(x => x.GlobalId, new { htmlAttributes = new { @class = "form-control",@type="number", placeholder = Html.DisplayNameFor(x => x.GlobalId) } })

        </div>

        <!--Short Name-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.ShortName)</label>
			@Html.EditorFor(x => x.ShortName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ShortName) } })
      
         </div>

        <!--Display Name-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label ">@Html.DisplayNameFor(model => model.DisplayName)</label>
			@Html.EditorFor(x => x.DisplayName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.DisplayName) } })
      
         </div>

     
       <!--Book-->
       <div class="col-xs-12 col-md-6">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.BookId)</label>
   	        @Html.DropDownListFor(model => model.BookId, ViewBag.BookId as List<SelectListItem>, htmlAttributes: new { @class = "form-control" }) 
       </div>

        <!--Book Name-->
        <div class="col-xs-12 col-md-6">
            <label class="form-label ">@Html.DisplayNameFor(model => model.Title)</label>
			@Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Title) } })
      
         </div>

       <!--Date-->
       <div class="col-xs-12 col-md-6">
            <label class="form-label text-danger">@Html.DisplayNameFor(model => model.AddDate)</label>
            <div class="input-group">
			  @Html.EditorFor(x => x.AddDate, 
                         new { htmlAttributes = new { @class = "form-control datepicker hasDatepicker",
                               placeholder = Html.DisplayNameFor(x => x.AddDate ) } })
               <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			 </div>
         </div>

	    
</div>

